*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.main{
    height: 100%;
    width: 100%;
    background-color:  rgba(147, 126, 87, 0.74);
    display: flex;
}

#part1{
    height: 100%;
    width: 26%;
    /* background-color: red; */
}

#part2{
    height: 100%;
    width: 67%;
    background-color: rgb(84, 28, 224);
    background-image: url("6c724b42-d5a7-4a70-bfc1-484afdc5564f.jpeg");
    background-size: cover;
    background-position: center;
}

#overlay{
    height: 100%;
    width:100%;
    background-color:hsla(0, 5%, 69%, 0.305);
}

#part3{
    height: 100%;
    width: 7%;
    /* background-color: rgb(0, 255, 174); */
}

#text-div{
    /* height: 300px */
    position: absolute;
    width: 400px;
    font-size: 12px;
    /* background-color: red; */
    left: 10%;
    top: 50%;
    transform: translate(0, -50%);

}

#text-div>h1{
    font-size: 95px;
    font-family: monuments;
    font-weight: 800;
    line-height: 78px;
    color: white;
    letter-spacing: 6px;
    transform: uppercase;
}

#small_image_div{
    height: 300px;
    width: 300px;
    background-color: red;
    background-image: url("cde8a650-7ec6-4014-9cfd-ccecb884ef9d.jpeg");
    background-size: cover;
    position: absolute;
    background-position: center;
    top: 50%;
    right: 3%;
    transform: translate(0, -50%);

}
/* 
#overlay-in{
    height: 100%;
    width:100%;
    background-color:hsla(344, 18%, 70%, 0.411);
} */

#vertical-text{
    position: absolute;
    right: -55%;
    top: -7%;
    transform: rotate(90deg);
    transform-origin: 0% 10%;
    /* width: 100%; */
    /* background-color: red; */
}

#vertical-text h1{
    font-size: 80px;
    font-weight: 900;
    text-transform: uppercase;
    color: transparent;
    letter-spacing: 20px;
    font-family: monuments;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
}

#navbar{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 450px;
    top: 6%;
    left: 8%;
    /* background-color: red; */
}

#navbar img{
    height: 60px;
}

#navbar h5{
    font-size: 18px;
    color: white;
}